/AI_Skill_Gap_Backend_Implementation.zip
/AI_Skill_Gap_Backend_Implementation_Guide.docx
/AI_Skill_Gap_Backend_Implementation_Guide.pdf
/AI_Skill_Gap_PRD.docx
/AI_Skill_Gap_PRD.pdf
/Dataset.zip
/ESCO dataset - v1.2.1 - classification - en - csv.zip
/MCA_MP_69.pptx
/imaage.jpeg