-- Active: 1789393041369@@localhost@3306@skill_gap_db
/AI_Skill_Gap_Backend_Implementation.zip
/docs/AI_Skill_Gap_Backend_Implementation_Guide.docx
/docs/AI_Skill_Gap_Backend_Implementation_Guide.pdf
/docs/AI_Skill_Gap_PRD.docx
/docs/AI_Skill_Gap_PRD.pdf
/Dataset.zip
/ESCO dataset - v1.2.1 - classification - en - csv.zip
/docs/MCA_MP_69.pptx
/imaage.jpeg